/* CalendarView.scss */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.calendar-view {
  width: 100%;
  background-color: #5c5f6d;
  color: #ffffff;
  padding: 1em;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
  padding-top: 80px;
}

.calendar-header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 1.7em; 
  position: relative; 
}

.calendar-header button {
  background: url('/arrow-calendar.svg') no-repeat center;
  background-size: contain; 
  border: none;
  width: 50px; 
  height: 50px; 
  cursor: pointer;
  position: absolute; 

  &:first-child {
    transform: scaleX(-1);
    left: 50px; 
  }

  &:last-child {
    right: 50px; 
  }

  &:focus {
    outline: none;
  }
}

.calendar-days-of-week {
  margin-top: 80px;
  display: flex;
  color: #bebfc5;
  justify-content: space-between; 
  padding: 0 70px; 
}

.calendar-days {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 1em;
  padding: 0 13.5%;

  .day {
    text-align: center;
    padding: 0.5em 0;

    &.offset {
      visibility: hidden; 
    }

    &.selected {
      background-color: #3c82f9; 
      color: #ffffff;
      border-radius: 50%;
    }
  }
}

// Responsiveness
@media (max-width: 1440px) {
  .calendar-header button {
    &:first-child {
      left: -1%; // Augmenté pour plus d'espace
    }
    &:last-child {
      right: 1%; // Augmenté pour plus d'espace
    }
  }
}

@media (max-width: 768px) {
  .calendar-view {
    padding-top: 50px;
  }

  .calendar-header {
    font-size: 1.4em;
    button {
      width: 40px; 
      height: 40px; 
      &:first-child {
        left: 20%; // Ajusté pour plus d'espace
      }
      &:last-child {
        right: 20%; // Ajusté pour plus d'espace
      }
    }
  }

  .calendar-days-of-week {
    margin-top: 40px;
    padding: 0 10px;
  }

  .calendar-days {
    margin-top: 20px;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .calendar-view {
    padding-top: 30px;
  }

  .calendar-header {
    font-size: 1.2em;
    button {
      width: 30px; 
      height: 30px; 
      &:first-child {
        left: 10%; // Ajusté pour plus d'espace
      }
      &:last-child {
        right: 10%; // Ajusté pour plus d'espace
      }
    }
  }

  .calendar-days-of-week {
    margin-top: 20px;
    padding: 0 5px;
  }

  .calendar-days {
    margin-top: 10px;
    padding: 0 5px;
  }
}
