// DayView.scss
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.day-view-container {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;

  h1 {
    margin-bottom: 40px;
  }

  .day-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-event-button {
    border-radius: 50%;
    min-width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .event-item {
    margin: 20px 0;
    padding: 20px 10px;
    margin-top: 70px;
   
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: var(--event-bg-color);
    color: black; 

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: var(--event-border-color);
    }



    h2 {
      padding: 10px 0; 
      margin: 0; 
    }

    h3 {
      padding: 10px 0; 
      margin: 0;
    }
  }
}
