@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container-all {
  display: flex;
  flex-direction: row;
  height: 100vh;

  > :first-child {
    flex: 0 0 70%;
  }

  > :nth-child(3) {
    flex: 0 0 30%;
    height: 100%;
    overflow-y: auto;
  }

  @media (max-width: 1500px) {
    > :first-child {
      flex: 0 0 60%;
    }

    > :nth-child(3) {
      flex: 0 0 40%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    > :first-child,
    > :nth-child(3) {
      flex: 1;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;

    > :first-child,
    > :nth-child(3) {
      flex: 1;
    }
  }
}
